*{
	line-height: 18px;
	margin: 0;
	padding: 0;
}
#wrapper{
	background-color: #F5FAFF;
	margin: 0px auto;
	width: 980px;
}
#top_section{
	height: 148px;
}
#top_section ul{
	background-color: #B0B5B4;
	display: inline-block;
	margin-left: 520px;	
	list-style-type: none;
	width: 350px;
}
#top_section ul li{
	display: inline-block;
	margin: 3px;
}
#top_section ul li a{
	text-decoration: none;
}
#top_section button{
	background-color:#169CBA;
	border-radius: 2px;
	color: white;
	display: inline-block;
	vertical-align: top;
	width: 100px;
}
#top_section img{
	height: 50px;
	width: 70px;
}
#top_section h1{
	color: blue;
	display: inline-block;
	font-size: 25px;
	margin-top:14px; 
	vertical-align: top; 
}
#top_section h2{
	background-color: blue;
    color: white;
    height: 30px;
    margin-top: 20px;
    padding: 10px;
	}
#side_section{
	display: inline-block;
	margin-top: 50px;
	vertical-align: top;
	width: 220px;
	}
#side_section h2{
	 color: blue;
	 font-size: 20px;
	 margin-bottom: 5px;
}
#side_section h4{
	 font: 14px;
	 color: red;
	 margin-bottom: 5px;
}
#side_section p{
	 color: black;
	 font-size: 14px;
	 margin-bottom:15px;
}
#demo{
	background-color: blue;
	color: white;
	border-radius:3px;
	font-size: 15px;
	height:30px; 
	margin: 2px;
	width: 220px;
}
#trial{
	background-color: orange;
	border-radius:3px;
	color: white;
	width: 220px;
	height:30px; 
	font-size: 15px;
	margin: 2px;
}
#side_section a{
	color: blue;
	text-decoration: none;
}
#side_section img{
	height: 300px;
	margin-left:12px;  
	width: 200px;
	margin-top:2px; 
}
#credit_text{
	text-align: center;
	font-size: 12px;
	border-bottom:1px solid grey; 
}
#main_section{
	display: inline-block;
	padding:10px;
	margin-top: 20px;
	width: 700px;
	vertical-align: top;
}
#main_section h3{
	 color: blue;
	 display: inline-block;
	 font-size: 13px;
	 margin-top: 25px;
	 vertical-align: top;	
}
#phone_image{
	margin-left: 350px;
}
#contact_info{
	display: inline-block;
	vertical-align: top;
	width: 200px;
}
#contact_info h1{
	color: blue;
	font-size: 25px;
	padding:2px; 
}
#contact_info h4{
	color: grey;
	font-size: 15px;
	padding: 2px;
}
#main_section h2{
	color: blue;
	font-size: 20px;
	padding: 3px;
}
#main_section p{
	padding:5px; 
}
#main_section ul{
	padding-left: 18px;
}
#small_section{
	border: 5px solid blue;
	width: 600px;
	padding: 6px;
	margin: 10px;
}
#small_section img{
	display: inline-block;
	vertical-align: top;
	width: 70px;
	height: 70px;
}
#small_section p{
	display: inline-block;
	vertical-align: top;
	width: 400px;
	padding: 2px;
}
#small_section button{
	margin-left:70px;
	width: 200px;
	background-color: green;
	color: white; 
	border-radius:10px;
}